<!DOCTYPE html>
<html>
	<head>
	  <title>Problem2App</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

		<ul class="nav-bar">
				<li class="nav"><%= link_to('All orders', orders_path) %></li>
				<li class="nav"><%= link_to('New order', new_order_path) %></li>
		</ul>

		<%= yield %>

	</body>
</html>
