<h2>Sign Up!</h2>

<%= form_for(@user) do |f| %>
	<div>
		<%= f.label(:name) %>
		<%= f.text_field(:name, placeholder: 'Enter name here') %>
	</div>
	<div>
		<%= f.label(:email) %>
		<%= f.text_field(:email, placeholder: 'Enter email here') %>
	</div>
	<div>
		<%= f.submit %>
	</div>
<% end %>