<h2>User Updated</h2>

<p>ID: <%= @user.id %></p>
<p>Name: <%= @user.name %></p>
<p>Profile: <%= @user.profile %></p>
<p>Headline: <%= @user.headline %></p>
<p>Email: <%= @user.email %></p>
<p>Updated at: <%= @user.updated_at %></p>