<h2 class="instruct">Edit User</h2>

<% if @user.errors.any? %>
	<ul class="error-messages">
		<% @user.errors.full_messages.each do |error| %>
			<li><%= error %></li>
		<% end %>
	</ul>
<% end %>

<%= form_for(@user) do |f| %>
	<div>
		<%= f.label(:name) %>
		<%= f.text_field(:name, placeholder: 'Enter name here') %>
	</div>

	<div>
		<%= f.label(:profile) %>
		<%= f.text_field(:profile, placeholder: 'Enter profile here') %>
	</div>

	<div>
		<%= f.label(:headline) %>
		<%= f.text_field(:headline, placeholder: 'Enter headline here') %>
	</div>

	<% if @user.admin_check(current_user) %>
		<div>
			<%= f.label(:admin) %>
			<%= f.check_box(:admin) %>
		</div>
	<% end %>

	<div>
		<%= f.submit %>
	</div>
<% end %>