<div class="show">
	<div>ID: <%= @user.id %></div>
	<h2><%= @user.name %>, aka: <%= @user.profile %></h2>
	<h3>"<%= @user.headline %>"</h3>

	<br>
	<div><%= @user.email %></div>
	<div>Created at: <%= @user.created_at %></div>
</div>

<% if current_user != nil %>
	<% if @user.admin_or_belongs_to?(current_user) %>
		<ul>
			<li><%= link_to('Edit', edit_user_path(@user)) %></li>
			<br>
			<li class="makeitsmaller"><%= link_to('Delete', @user, method: :delete) %></li>
		</ul>
	<% end %>
<% end %>

<div class="hotel instruct">Hotels Owned by <%= @user.name %>: </div>
	<% @user.hotels.each do |hotel| %>
		<ul class="user hotel">
			<li class="makeitbold"><%= link_to(hotel.id, hotel_path(hotel)) %></li>
			<li class="hotelprofile"><%= link_to(hotel.name, hotel_path(hotel))%></li>
			<li class="makeititalic goldenrod">"<%= hotel.description %>"</li>
		</ul>
	<% end %>