<div class="show">
	<div>ID: <%= @user.id %></div>
	<h2><%= @user.name %>, aka: <%= @user.profile %></h2>
	

	<br>
	<div>Created at: <%= @user.created_at %></div>
</div>

<ul>
	<li><%= link_to('Edit', edit_user_path(@user)) %></li>
	<li><%= link_to('Delete', @user, method: :delete) %></li>
</ul>
