<!DOCTYPE html>
<html>

	<head>
		<title>Hmwk 7 App</title>

		<!-- CSS Reset -->
		<link href="reset.css" type="text/css" rel="stylesheet">

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

		<%= csrf_meta_tags %>
	</head>

	<body>

		<div class="login">
			<% if user_signed_in? %>
				<li>Logged in as: <%= link_to(current_user.email, current_user) %></li>
				<li><%= link_to('Log Out', destroy_user_session_path, method: :delete) %></li>

			<% else %>

				<li><%= link_to('Log In', new_user_session_path) %></li>
				<li><%= link_to('Sign Up', new_user_registration_path) %></li>

			<% end %>
		</div>

		<ul class="nav">
			<li><%= link_to('All Users', root_path) %></li>
			<!-- <li><%= link_to('New User', new_user_path) %></li> -->
		</ul>


		<% if flash.notice %>
			<p class="notice"><%= notice %></p>
		<% end %>

		<% if flash.alert %>
        	<p class="alert"><%= alert %></p>
        <% end %>


		<%= yield %>

	</body>
	
</html>
