<!DOCTYPE html>
<html>

	<head>
		<title>Hmwk 7 App</title>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

		<%= csrf_meta_tags %>
	</head>

	<body>

		<ul>
			<li><%= link_to('All Users', root_path) %></li>
			<li><%= link_to('New User', new_user_path) %></li>
		</ul>

		<p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

		<%= yield %>

	</body>
	
</html>
