<h2 class="instruct hotel">Hotel Created</h2>

<% if @hotel.errors.any? %>
	<ul class="error-messages">
		<% @hotel.errors.full_messages.each do |error| %>
			<li><%= error %></li>
		<% end %>
	</ul>
<% end %>

<div class="hotel">
	<p>ID: <%= @hotel.id %></p>
	<p>Name: <%= @hotel.name %></p>
	<p>Description: <%= @hotel.description %></p>

	<p>Updated at: <%= @hotel.updated_at %></p>
</div>