<h2 class="instruct hotel">Edit Hotel</h2>

<% if @hotel.errors.any? %>
	<ul class="error-messages">
		<% @hotel.errors.full_messages.each do |error| %>
			<li><%= error %></li>
		<% end %>
	</ul>
<% end %>

<div class="hotel">
	<%= form_for(@hotel) do |f| %>
		<div>
			<%= f.label(:name) %>
			<%= f.text_field(:name, placeholder: 'Enter name here') %>
		</div>

		<div>
			<%= f.label(:description) %>
			<%= f.text_field(:description, placeholder: 'Enter description here') %>
		</div>

		<div>
			<%= f.label(:user_id) %>
			<%= f.collection_select(:user_id, User.all, :id, :name) %>
		</div>
		
		<div>
			<%= f.submit %>
		</div>
	<% end %>
</div>