<ul class="nav">
	<li class="makeitsmaller allhotels">Search by hotel location:
		<%= form_for(hotels_path, method: :get) do %>
			<%= text_field_tag(:location, params[:location]) %>
			<%= submit_tag("Search") %>
		<% end %>
	</li>
</ul>

<% if current_user != nil %>
		<ul class="newhotel">
			<li><%= link_to('Create New Hotel', new_hotel_path) %></li>
		</ul>
<% end %>

<% if params[:location] %>
	<p class="instruct goldenrod">Searching Hotels for: <%= params[:location] %></p>
<% end %>

<% @hotels.each do |hotel| %>
	<ul class="user hotel">
		<li class="makeitbold"><%= link_to(hotel.id, hotel_path(hotel)) %></li>
		<li class="hotelprofile"><%= link_to(hotel.name, hotel_path(hotel))%></li>
		<li class="makeititalic goldenrod">"<%= hotel.description %>"</li>
		<li class="goldenrod makeitsmaller">Location: <%= hotel.address %></li>
		<li class="makeitsmaller">Owner: <%= link_to(hotel.user.name, user_path(hotel.user)) %></li>
	</ul>

	<% if hotel.image.present? %>
		<div class="indeximage"><%= link_to(image_tag(hotel.image.url(:thumbnail)), hotel.image.url) %></div>
	<% end %>

<% end %>

