<% if current_user != nil %>
		<ul class="newhotel">
			<li><%= link_to('Create New Hotel', new_hotel_path) %></li>
		</ul>
<% end %>

<% if params[:query] %>
	<p class="instruct goldenrod">Searching Hotels for: <%= params[:query] %></p>
<% end %>

<% @hotels.each do |hotel| %>
	<ul class="user hotel">
		<li class="makeitbold"><%= link_to(hotel.id, hotel_path(hotel)) %></li>
		<li class="hotelprofile"><%= link_to(hotel.name, hotel_path(hotel))%></li>
		<li class="makeititalic goldenrod">"<%= hotel.description %>"</li>
		<li class="goldenrod makeitsmaller">Location: <%= hotel.address %></li>
		<li class="makeitsmaller">Owner: <%= link_to(hotel.user.name, user_path(hotel.user)) %></li>
	</ul>

	<% if hotel.image.present? %>
		<div class="indeximage"><%= link_to(image_tag(hotel.image.url(:thumbnail)), hotel.image.url) %></div>
	<% end %>

<% end %>

