<div class="show hotel">
	<div class="goldenrod">ID: <%= @hotel.id %></div>
	<h2 class="makeitbold"><%= @hotel.name %></h2>
	<h3 class="goldenrod">"<%= @hotel.description %>"</h3>

	<% if @hotel.image.present? %>
		<div class="showimage"><%= link_to(image_tag(@hotel.image.url(:full)), @hotel.image.url) %></div>
	<% end %>

	<br>
	<h3 class="goldenrod">Location: <%= @hotel.address %></h3>
	<div>Owned by: <%= link_to(@hotel.user.name, user_path(@hotel.user)) %></div>

	<div>Created at: <%= @hotel.created_at %></div>
</div>


<% if current_user != nil %>
	<%if @hotel.admin_or_belongs_to?(current_user, @hotel.id) %>
		<ul>
			<li><%= link_to('Edit', edit_hotel_path(@hotel)) %></li>
			<li><%= link_to('Delete', @hotel, method: :delete, data: {confirm: 'Are you sure?'}) %></li>
		</ul>
	<% end %>
<% end %>
