<h2>Edit Order</h2>

<%= form_for(@order) do |f| %>

	<p>
		<%= f.label(:user_id) %>
		<%= f.text_field(:user_id, placeholder: 'Enter user_id here') %>
	</p>


	<p>
  		<%= collection_check_boxes(:order, :item_ids, Item.all, :id, :name) %>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>
