<h2>All Orders</h2>


	<% @orders.each do |order| %>
		<p>Order #<%= order.id %></p>
		<ul>
			<li>User: <%= order.user.name %></li>

			<!-- <li>Item: <%= order.items.collect(&:name) %></li> -->
			<!-- <li>Item: <%= order.items.select(:name).map(&:name) %></li> -->

			<li>Item: <%= order.items.pluck(:name) %></li>
			<li>Item Qty: <%= order.items.count %></li>
			<li>Created At: <%= order.created_at %></li>
			<li>Updated At: <%= order.updated_at %></li>
		</ul>

		<div class="button"><%= link_to('View', order, metho: :show)%></div>
		<div class="button"><%= link_to('Edit', edit_order_path(order))%></div>
		<div class="button"><%= link_to('Delete', order, method: :delete)%></div>

	<% end %>


