<h2>All Orders</h2>


	<% @orders.each do |order| %>
		<p>Order #<%= order.id %></p>
		<ul>
			<li>User: <%= order.user.name %></li>
			<!-- <li>Item: <%= order.items.collect(&:name) %></li> -->
			<li>Item: <%= order.items.pluck(:name) %></li>
			<!-- <li>Item Qty: <%= order.item_qty %></li> -->
			<li>Created At: <%= order.created_at %></li>
		</ul>
	<% end %>

	
