<h2>New Order</h2>

<%= form_for(@order) do |f| %>

	<p>
		<%= f.label(:user_id) %>
		<%= f.text_field(:user_id, placeholder: 'Enter user_id here') %>
	</p>

	<p>
		<%= f.label(:items) %>
		<%= f.check_box(:items) %>	
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>